.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.twist{
position: relative;
animation: heading;
animation-duration: 3s;
animation-fill-mode: forwards;
}
button{
  width: 10%;
  height:35px;
  border: none;
  border-radius: 10px;
  background-color: #775FBF;
  font-weight: bold;
}
button:hover{
  background-color: #4B0000;
  border: 1px groove gold;
  color: white;
  width: 15%;
  height: 50px;
  font-size: 1.3em;
}
body{
  background-image: url(giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    font-family: 'Jua', sans-serif;
}
div{
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
div, button{
  margin: 15px;
}
